@import "../../index.scss";
.heading1 {
  text-align: justify;
  padding: 10px;
  margin: 70px auto;
  height: 450px;
  font-family: $text-font-family;
}

.heading2 {
  @extend .heading1;
  border-left: solid 5px $heading-color;
  overflow: auto;
  font-size: 12px;
}
.message-container {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 400px;

  .message-header {
    font-weight: 400;
    font-size: 25px;
  }
  .profile-image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 100px;
  }
  .message {
    text-align: justify;
    font-size: 10px;
    padding: 10px;
  }

  @media screen and (max-width: 768px) {
    width: 300px;
  }
}

.notice-item {
  border-bottom: solid 1px lightgray;
  padding-bottom: 10px;
  .notice-header {
    font-size: 15px;
  }
  .notice-text {
    font-size: 12px;
    font-weight: 100;
  }
  .notice-link {
    font-size: 12px;
    font-weight: 100;
    color: blue;
  }
}
