@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@500&family=Varela+Round&display=swap");

$header-font-family: "Raleway", sans-serif;
$text-font-family: "Sora", sans-serif;
$heading-color: #082585;
// $sub-heading-color: #da8f18;
$sub-heading-color: #718ff3;
